<html>

<head>
    <title>Which Taylor Swift Red Carpet Outfit Are You?</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel='stylesheet' href='../static/styles.css' />
    <meta charset="UTF-8">
</head>

<body>

    <!-- navigation bar -->
    <nav class="navbar navbar-expand">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/"><img class="center" src="../static/logo.png" alt="logo" ></a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="../all-results">results</a>
                </li> -->
            </ul>
        </div>
    </nav>

    <!-- content -->
    <div class='container'>
        <h2>Welcome to our quiz!</h2>
            <p> As you go, choose the image that you identify with the most! </p>
        <div class='container'>
        <form method="post">
            <label for="q1">Pick a Cat:</label>
            <br />
                <input type="radio" href="/"><img class="cat" src="../static/cat1.png" height="200" width="auto" alt="cat1" >
                <input type="radio" href="/"><img class="cat" src="../static/cat2.png" height="200" width="auto" alt="cat2">
                <br />
                <input type="radio" href="/"><img class="cat" src="../static/cat3.png" height="200" width="auto" alt="cat3">
                <input type="radio" href="/"><img class="cat" src="../static/cat4.png" height="200" width="auto" alt="cat4">
            <br />
        </form>
        <form method="post">
            <label for="q2">Pick a Season:</label>
            <br />
                <input type="radio" href="/"><img class="season" src="../static/season1.png" height="200" width="auto" alt="season1" >
                <input type="radio" href="/"><img class="season" src="../static/season2.png" height="200" width="auto" alt="season2">
                <br />
                <input type="radio" href="/"><img class="season" src="../static/season3.png" height="200" width="auto" alt="season3">
                <input type="radio" href="/"><img class="season" src="../static/season4.png" height="200" width="auto" alt="season4">
            <br />
        </form>
        <form method="post">
            <label for="q3">Pick a Beverage:</label>
            <br />
                <input type="radio" href="/"><img class="beverage" src="../static/bevy1.png" height="200" width="auto" alt="bevy1" >
                <input type="radio" href="/"><img class="beverage" src="../static/bevy2.png" height="200" width="auto" alt="bevy2">
                <br />
                <input type="radio" href="/"><img class="beverage" src="../static/bevy3.png" height="200" width="auto" alt="bevy3">
                <input type="radio" href="/"><img class="beverage" src="../static/bevy4.png" height="200" width="auto" alt="bevy4">
            <br />
        </form>
        <form method="post">
            <label for="q4">Pick a Throwback Aesthetic :</label>
            <br />
                <input type="radio" href="/"><img class="tbt" src="../static/tbt.png" height="200" width="auto" alt="tbt1" >
                <input type="radio" href="/"><img class="tbt" src="../static/tbt2.png" height="200" width="auto" alt="tbt2">
                <br />
                <input type="radio" href="/"><img class="tbt" src="../static/tbt3.png" height="200" width="auto" alt="tbt3">
                <input type="radio" href="/"><img class="tbt" src="../static/tbt4.png" height="200" width="auto" alt="tbt4">
            <br />
        </form>
        <form method="post">
            <label for="q5">Pick a House / City :</label>
            <br />
                <input type="radio" href="/"><img class="house" src="../static/house.png" height="200" width="auto" alt="house1" >
                <input type="radio" href="/"><img class="house" src="../static/house2.png" height="200" width="auto" alt="house2">
                <br />
                <input type="radio" href="/"><img class="house" src="../static/house3.png" height="200" width="auto" alt="house3">
                <input type="radio" href="/"><img class="house" src="../static/house4.png" height="200" width="auto" alt="house4">
            <br />
        </form>
        <form method="post">
            <label for="q6">Pick a TV Show :</label>
            <br />
                <input type="radio" href="/"><img class="tv" src="../static/tv1.png" height="200" width="auto" alt="tv1" >
                <input type="radio" href="/"><img class="tv" src="../static/tv2.png" height="200" width="auto" alt="tv2">
                <br />
                <input type="radio" href="/"><img class="tv" src="../static/tv3.png" height="200" width="auto" alt="tv3">
                <input type="radio" href="/"><img class="tv" src="../static/tv4.png" height="200" width="auto" alt="tv4">
            <br />
        </form>
        <form method="post">
            <label for="q7">Pick a Spot on Campus :</label>
            <br />
                <input type="radio" href="/"><img class="unc" src="../static/unc1.png" height="200" width="auto" alt="unc1" >
                <input type="radio" href="/"><img class="unc" src="../static/unc2.png" height="200" width="auto" alt="unc2">
                <br />
                <input type="radio" href="/"><img class="unc" src="../static/unc3.png" height="200" width="auto" alt="unc3">
                <input type="radio" href="/"><img class="unc" src="../static/unc4.png" height="200" width="auto" alt="unc4">
            <br />
            <input type="submit" value="Submit">
        </form>
    <div class='container'>
        <br /> 
        Your result is: 
        <a type="radio" href="/"><img class="reputation" src="../static/reputation.png" height="1000" width="auto" alt="reputation" >
        <br />
    </div>
</body>

</html>